{% extends "base.html" %}

{% block title %}Admin Dashboard Test - CrustyRustacean Dev Blog{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>Admin Dashboard Test</h1>
            <p>This is a simple test template to verify template rendering works.</p>
            
            {% if user %}
                <p>User: {{ user.username }}</p>
            {% else %}
                <p>No user found</p>
            {% endif %}
            
            <p>Articles count: {{ articles|length }}</p>
        </div>
    </div>
</div>
{% endblock %}